<template>
    <div>
        <input type="number" v-model="weight" placeholder="Enter weight">
        <select v-model="carrierSlug">
            <option value="transcompany">TransCompany</option>
            <option value="packgroup">PackGroup</option>
        </select>
        <button @click="calculatePrice">Calculate Price</button>
        <div v-if="price !== null">
            <p>Price: {{ price }} EUR</p>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            weight: null,
            carrierSlug: 'transcompany',
            price: null
        };
    },
    methods: {
        calculatePrice() {
            fetch('http://localhost/api/calculate-price', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    weight: this.weight,
                    carrier_slug: this.carrierSlug
                })
            })
                .then(response => response.json())
                .then(data => {
                    this.price = data.price;
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }
    }
};
</script>

<style>

</style>
