<template>
    <div>
        <h2>Tag Parser Results</h2>
        <div v-for="(value, key) in tagData" :key="key">
            <p>{{ key }}: {{ value }}</p>
            <p v-if="tagDescriptions[key]">Description: {{ tagDescriptions[key] }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        tagData: Object,
        tagDescriptions: Object
    }
}
</script>
