<template>
    <div>
        <h2>Text Parser Results</h2>
        <div v-for="(value, key) in parsedKeys" :key="key">
            <p>{{ key }}: {{ value }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        parsedKeys: Object
    }
}
</script>
