{% extends 'base.html.twig' %}

{#{% block javascripts %}#}
{#    {{ encore_entry_script_tags('customerApp') }}#}
{#{% endblock %}#}

{#{% block title %}Hello TestController!{% endblock %}#}


{#{% block body %}#}
{#<div id="customer-app">Привіт</div>#}
{#{% endblock %}#}
