{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('calculatePriceApp') }}
{% endblock %}

{% block title %}ApiController!{% endblock %}

{% block body %}
<div class="container">
    <div id="calculate-price-app"></div>
</div>
{% endblock %}
